@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background: #fffffe; 
    background: linear-gradient(90deg,#dd86d7,#747bcc,#05366d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form {
    border-radius: 5px;
    width: 550px;
    height: 200px;
    background: #d1d1e9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .4s;
}
.form:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form form select  {
    border-radius: 5px;
    width: 450px;
    height: 35px;
    margin: 8px;
    background: white;
    border: none;
    padding-left: 10px;
    outline: none;
    transition: all .4s;
}

.btn {
    border-radius: 5px;
    width: 450px;
    height: 35px;
    margin: 8px;
    background: #6246ea;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}
.btn:hover{
    background: #e45858;
}

.to-main {
    z-index: 9;
    position: fixed;
    top: 15px;
    left: 15px;
    border-radius: 5px;
    width: 270px;
    height: 35px;
    margin: 8px;
    background: #6246ea;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.to-main:hover{
    background: #e45858;
}