{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Городская  среда</title>
    <link rel="stylesheet" href="{% static 'urban_env/css/style.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
