{% extends "urban_env/base.html" %}

{% block content %}
    <div class="form">
        <form method="POST">{% csrf_token %}
            {{ form }}
            <button class="btn" type="submit">ПОДТВЕРДИТЬ</button>
        </form>
    </div>  
{% endblock %}