{% extends "urban_env/base.html" %}
{% load static %}

{% block content %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />


<style>
    .infrastructure {
        background-image: url("{% static 'urban_env/icons/infrastructure.png' %}");
    }

    .communal_services {
        background-image: url("{% static 'urban_env/icons/communal_services.png' %}");
    }

    .roads {
        background-image: url("{% static 'urban_env/icons/roads.png' %}");
    }

    .default {
        background-image: url("{% static 'urban_env/icons/gps.png' %}");
    }

    .marker {
        background-size: cover;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }
      
    .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
</style>

<a href="{% url 'index' %}"><button class="to-main" href="#">НА ГЛАВНУЮ</button></a>

<div id='map' style='width: 100vw; height: 100vh;'></div>

<div style="display: none" id="jsonData" data-json="{{ address }}"></div>

<script>
    // Вытаскиваем json переданного из view 
    function loadJson(selector) {
        return JSON.parse(document.querySelector(selector).getAttribute('data-json'));
    }

    function getTitle(type) {
        switch(type) {
            case 'infrastructure':
                return 'Инфраструктура';
            case 'communal_services':
                return 'Коммунальные службы'
            case 'roads':
                return 'Дороги'
            default:
                return ''
        }
    }

    mapboxgl.accessToken = 'pk.eyJ1IjoiYmVhbWVyYm95MTUiLCJhIjoiY2t2Y25sNzg3MGFmZzJ3bzByaWk1eXpyayJ9.VKVv99beI5Yxuj_pcilhQA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        center: [47.212638975604676, 56.144320191610404],
        zoom: 12,
    });


    // Создание маркеров
    var jsonData = loadJson('#jsonData');
    for (const key in jsonData) {
        var coordinates = jsonData[key][0];
        var type = jsonData[key][1];
        var comment = jsonData[key][3];
        feature = {
            type: 'Feature',
            geometry: {
                type: 'Point',
                coordinates: coordinates
            },
            properties: {
                title: getTitle(type),
                description: comment
            } 
        }

        // Созданием html элемента для каждого маркера
        const el = document.createElement('div');
        el.classList.add("marker");
        el.classList.add(type);

        
        // Создание маркера для каждого элемента и добавление его на карту
        new mapboxgl.Marker(el)
        .setLngLat(feature.geometry.coordinates)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 }) // Добавление всплывающих окон
                .setHTML(
                    `
                    <h3>${feature.properties.title}</h3>
                    <p>${feature.properties.description}</p>
                    `
                )
        )
        .addTo(map);
    }

    /*
    const geojson = {
        type: 'FeatureCollection',
        features: [
            {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [47.247728, 56.139918]
                },
                properties: {
                    title: 'Mapbox',
                    description: 'Дом Артемия'
                }
            }
        ]
    };
    */
</script>

{% endblock %}